.admin-card{
    /* background: red; */
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.image-con{
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-in-card{
    /* background: green; */
    border-radius: 5px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding: 1rem;

    
}
.admin-out{
    margin: 5rem;
}
.c-con{
    /* background: red; */
    text-align: center;
    
}
.c-con{
    font-size: 17px;
    font-weight: 400;
}
.c-con span{
    color: blue;
}
